<section class="w-screen h-auto p-2 flex flex-col items-center justify-center bg-black">
    <span class="font-cabin font-bold text-lg text-white">Desarrollado por <a target="_blank" rel="noopener" href="https://github.com/dano2906" class="underline underline-offset-2 decoration-1">Dano</a></span>
</section>