<section class="w-screen h-auto p-2 flex flex-col items-center justify-center bg-black">
    <span class="font-cabin font-bold text-lg text-white">Desarrollado por <a href="" class="underline underline-offset-2 decoration-1">Dano</a></span>
</section>