
<footer class="w-screen h-auto bg-black px-4">
    <section class="max-w-6xl h-auto mx-auto pt-10 pb-12 sm:pb-14 md:pb-20 grid grid-cols-2 grid-rows-3 sm:grid-cols-4 sm:grid-rows-2 md:grid-cols-7 md:grid-rows-1 gap-3 font-cabin text-left content-footer">
        <div class="w-full mx-auto col-span-2 md:col-span-3 sm:row-span-1 sm:px-4 md:px-20">
            <h6>spense.</h6>
            <p>Spense is an open platform for individuals to share their unfiltered thoughts. Discuss the topic you love, and get paid for doing <span class="italic">just</span> that.</p>
        </div>
        <div>
            <h6>Sitemap</h6>
            <a href="">Homepage</a>
        </div>
        <div>
            <h6>Resources</h6>
            <a href="">Support</a>
            <a href="">Contact</a>
            <a href="">FAQ</a>
        </div>
        <div class="col-span-1">
            <h6>Company</h6>
            <a href="">About</a>
            <a href="">Customers</a>
            <a href="">Blog</a>
        </div>
        <div class="col-start-2">
            <h6>Opportunities</h6>
            <a href="">Jobs</a>
        </div>
    </section>
</footer>