---
import BrandMarquee from "./BrandMarquee.astro";
import PhoneMockup from "./PhoneMockup.astro";
---


<section class="w-screen h-auto bg-white p-6 flex flex-col items-center justify-center gap-y-10">
    <BrandMarquee />
    <PhoneMockup />
</section>