---
import mockup_desktop from '@assets/Phone Mockup (Desktop).webp'
import ArrowLeft from '@assets/ArrowLeft.svg'
---

<div class="max-w-5xl h-auto mx-auto bg-slate-200 flex flex-row items-center justify-center rounded-md">
    <div class="w-full h-full flex flex-col items-start justify-center p-8 gap-y-6">
        <h2 class="font-cabin font-black text-5xl text-left text-black leading-snug">Secure your money with Escrow. </h2>
        <p class="leading-6 text-base text-gray-600 md:leading-7 font-medium font-cabin text-left">Spense uses Escrow to secure all payments. We believe Escrow offers the highest level of security for payments, so you never worry about scams. </p>
        <a href="" class="leading-6 text-lg text-black md:leading-7 font-semibold font-cabin text-left underline underline-offset-2 decoration-1 flex flex-row items-center justify-center gap-x-3">Learn more about Escrow 
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
            </svg>
        </a>
    </div>
    <div class="w-full h-full flex items-end justify-end p-0">
        <img src={mockup_desktop.src} alt="Mockup mobile desktop" width={mockup_desktop.width} height={mockup_desktop.height}/>
    </div>
</div>