---
import text_editor from '@assets/Text Editor.webp'
---

<section class="w-[90%] md:max-w-5xl h-auto mx-auto p-2 md:p-5 flex flex-col-reverse md:flex-row items-center justify-center gap-y-1 sm:gap-y-2 md:gap-y-0 bg-white">
    <div class="w-full md:w-1/2 h-full py-6">
        <img src={text_editor.src} alt="Text editor view" width={text_editor.width} height={text_editor.height} class="w-full h-full"/>
    </div>
    <div class="w-full md:w-1/2 h-full flex flex-col items-start justify-around gap-y-6">
        <h2 class="font-cabin font-black text-3xl sm:text-2xl md:text-4xl text-left text-black leading-snug">A text editor like no other.</h2>
        <p class="leading-6 md:text-lg text-base text-gray-600 md:leading-7 font-medium font-cabin text-justify sm:text-left">Our text editor push you into focus mode with it's simplistic design and usability so you can put out your best writings.</p>
        <a href="" class="leading-6 text-lg text-gray-800 md:leading-7 font-semibold font-cabin text-left underline underline-offset-2 decoration-1 flex flex-row items-center justify-center gap-x-3">Text editor live demo 
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
            </svg>
        </a>
    </div>
</section>