
<section class="bg-black w-screen h-auto md:h-12 p-2 flex items-center justify-center">
    <h6 class="w-[90%] sm:w-full text-white text-sm text-center font-cabin font-black">🎉 To celebrate spence's launch, we will be waiting all fees for the entire month of April. <span class="underline underline-offset-2 decoration-1">You will be receiving 100% of the earnings.</span> 🎉</h6>
</section>